<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request is not already for something inside /public, forward it there.
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
